@tailwind base;
@tailwind components;
@tailwind utilities;

.tb-header{
    background-color: #2c70b1!important;
    color: white;
}

.tb-body{
    margin-top: 20px;
    background-color: #292b2c;
    color: white;
   
}

.create-form{
    width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 1px;
    border-radius: 10px;
    margin:auto;
    background-color: whitesmoke;
    color: #292b2c;
}

.create-form-header{
  text-align: center;
  background-color: #2c70b1;
  border-radius: 2px;
  color: white;
}

.btn-submit{
    margin-left: 475px;
    background-color: #2c70b1;
}

.btn-create{
    background-color: #2c70b1;
}

.btn-create-side{
    margin-left: -10px;
    margin-top: 80px;
}

.edit-form{
    width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 1px;
    border-radius: 10px;
    margin:auto;
    background-color: whitesmoke;
    color: #292b2c;
}

.btn-submit-edit{
    margin-left: 475px;
    background-color: #2c70b1;
}
